<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFstagram</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <h1>INFstagram</h1>
    {% if user.is_authenticated %}
        <p>Prijavljeni ste kao <strong><i>{{ user.get_username }}</i></strong></p> 
        <button class="btn btn-light" type="submit"><a href="/logout">Odjava</a></button>
    {% endif %}
        <div class="title">
            {% block title %}
            {% endblock %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
  </body>
</html>