{% for comment in comments %}
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      {% if comment.user.profile.picture %}
        <img src="{{ comment.user.profile.picture.url }}" alt="Placeholder image">
      {% else %}
        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
      {% endif %}
    </p>
  </figure>

  <div class="media-content">
    <div class="content">
      <p>
        {% if comment.user.profile.first_name %}
          <strong>{{ comment.user.profile.first_name }} {{ comment.user.profile.last_name }}</strong><small> @{{ comment.user.username }}</small>
        {% else %}
          <strong>Unknown</strong>
        {% endif %}
        <br>
          {{ comment.body }}
        <br>
        <strong><small>{{ comment.date|naturaltime }}</small></strong>
      </p>
    </div>

</article>
{% endfor %}