{% extends 'base.html' %}
{% block content %}


{% load static %}
{% load crispy_forms_tags %}
<!--<img src="{% static 'images/index.png'%}" alt="">
        {#% if user.is_authenticated %#}
            <p>user je: {#{#user.get_username#}#}</p>
        {#% endif %#}-->

<!-- usporeduje se:
           (Objava)      (Profil) (Profil) (User)   (User)
        profil_objava_id -> id -> user_id -> id -> username
npr.         12             12       13      12   korisnik100
-->
        {% for o in lista_objava %}
                {% for p in lista_profil %}
                        {% if o.profil_objava_id == p.id%}
                        {% for u in lista_useri %}
                                {% if p.user_id == u.id%}
                                                <br>
                                                <!--id_profila je: {#{#p.id #}#} <br>
                                                id usera je: {#{#u.id#}#}<br>-->
                                                <strong> {{u.username}}</strong><br>
                                                <!--objava id : {#{#o.id#}#}<br>



                                                Profil: {#{# o.profil_objava_id #}#}<br>-->
                                                <!--slika: {#{# o.slika_objava #}#}<br>-->
                                                <img src="{{ o.slika_objava.url }}" alt="objava"><br>

                                                <div class="media-right">
                                                        <a href="{% url 'main:postlike' o.id%}"><i class="material-icons has-text-danger">favorite</i></a><strong> Likes {{ o.likes }}  </strong> 
                                                        <a href="{% url 'main:postcomm' o.id%}"><i class="material-icons">maps_ugc</i></a>
                                                </div>

                                                <strong> {{u.username}}</strong> {{o.opis_objava}}<br>
                                                {{o.vrijeme_objava}}<br>

                                                <hr style="width:15%;text-align:left;margin-left:0">

                                                <!-- tu idu komentari -->
                                                <!--<form action="{#% url 'main:postcomm' o.id%#}">
                                                        <input type="submit" value="komentiraj" />
                                                </form>-->

                                                {% for k in lista_komentar %}
                                                        {% if k.post_id == o.id%}
                                                                <p><strong>{{k.user}}: </strong>{{k.comment}}</p>
                                                        {% endif %}
                                                {% endfor %}
                                         

                                        
                                        <br>
                                {% endif%}
                        {% endfor %}
                        {% endif%}        
                {% endfor %}
        {% endfor %}

{% endblock %}