{% extends 'base.html' %}
{% block content %}


{% load static %}
{% load crispy_forms_tags %}

        {% for o in post_list%}
                {% for p in profile_list %}
                        {% if o.profile_post_id == p.id%}
                        {% for u in user_list %}
                                {% if p.user_id == u.id%}
                                        <strong> {{u.username}}</strong><br>

                                        <img src="{{ o.post_image.url }}" alt="post"><br>

                                        <div class="media-right">
                                                <a href="{% url 'main:postlike' o.id%}"><i class="material-icons has-text-danger">favorite</i></a><strong> Likes {{ o.likes }}  </strong> 
                                                <a href="{% url 'main:postcomm' o.id%}"><i class="material-icons">maps_ugc</i></a>
                                        </div>
                                        
                                        <strong> {{u.username}}</strong> {{o.post_description}}<br>
                                        {{o.post_time}}<br>

                                        <hr style="width:15%;text-align:left;margin-left:0">

                                        
                                        {% for k in comment_list %}
                                                {% if k.post_id == o.id%}
                                                        <text><strong>{{k.user}}: </strong>{{k.comment}}</text>
                                                        {% if k.user_id == u.id %}
                                                                <a href="{% url 'main:deletecomm' k.id%}"><i class="material-icons" style="border-top: 20px;">cancel</i></a> <br>
                                                        {% endif %}
                                                {% endif %}
                                                
                                        {% endfor %}

                                        <br>
                                {% endif%}
                        {% endfor %}
                        {% endif%}        
                {% endfor %}
        {% endfor %}

{% endblock %}