{% extends 'base.html' %}

{% block content %}


    <h1>{{ post.post_description }}</h1>
    <p>{{ post.post_description}}</p>
    <hr>
    <h2>Comments</h2>
        {% for comment in post.comment_set.all %}
        <b>{{ comment.body }}</b> said <b>{{ comment.vrijeme_komentar|timesince }} ago</b>
        <p>{{ comment.opis_komentar }}</p>
            {% empty %}
            <p>Feel free to leave the first comment!</p>
        {% endfor %}
    <hr>
    <h3>Add a comment</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="background: linear-gradient(#e66465, #9198e5); height:35px; border-radius: 16px; border: none;">Submit</button>
    </form>


{% endblock %}