{% extends 'base.html' %}
{% block content %}

{% load static %}
<!--<img src="{% static 'images/index.png'%}" alt="">-->
        {% if user.is_authenticated %}
            <p>user je: {{user.get_username}}</p>
            {% for p in lista_nova %}
                {% if p.user == user%}
                    logiran je {{p.user }}<br>
                    id: {{p.id}}<br>
                    <img src="{{ p.slika_profil.url }}" alt="">
                {% endif%}
            {% endfor %}
            <!-- to je dodano -->
            <button class="btn btn-light" type="submit"><a href="/novaobjava">Nova objava</a></button>
        {% endif %}

        

    <p> Početak for petlje </p>
    <ul>
        {% for p in lista_nova %}
            <li>
                Ime: {{ p.bio }}<br>
                id: {{ p.id }}<br>
                user: {{p.user}}<br>
                slika: {{p.slika_profil}}<br>
                {% if p.user == ivo45 %}
                    <p>7 je user id</p>
                {% endif%}
            </li>
        {% endfor %}
    </ul>
{% endblock %}



