{% extends 'base.html' %}
{% block content %}

{% load static %}
<!--<img src="{% static 'images/index.png'%}" alt="">-->
        {% if user.is_authenticated %}
            <p>user je: {{user.get_username}}</p>

            {% for p in lista_profil %}
                {% if p.user == user%}
                    logiran je {{p.user }}<br>
                    id: {{p.id}}<br>
                    <img src="{{ p.slika_profil.url }}" alt="">
                {% endif%}
            {% endfor %}
            <!-- to je dodano -->
            <br> 
            <button class="btn btn-light" type="submit"><a href="/novaobjava">Nova objava</a></button>
            <br>
            <br>
            <hr>

            {% for p in lista_profil %}
                {% if p.user == user%}
                {% for o in lista_objava %}
                    {% if p.id == o.profil_objava_id %}
                    <br>
                        <img src="{{ o.slika_objava.url }}" alt="">
                        opis slike: {{o.opis_objava}}
                    {% endif%}
                {% endfor %}     
                {% endif%}
            {% endfor %}


        {% endif%}

        

{% endblock %}
